<!doctype html>
<html lang="en" class="min-h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LeapKit</title>

        <link rel="stylesheet" href="<%= assetPath(`application.css`) %>"/>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet" />
    </head>
    <body class="min-h-full">
        <section class=" min-h-full bg-gradient-to-br from-gray-50 to-gray-100 p-6">
            <main class="max-w-7xl mx-auto p-8">
                <%= yield %>
            </main>
        </section>
    </body>
</html>
